body {
    margin: 0 10% 0 10%;
    background-color: red;
}

p {
    color: blue;
    background-color: #A9A9A9;
}

#main-image {
    float: left;
    padding: 0 15px 15px 0;
    width: 100%;
}

nav a {
    margin-right: 10px;
}